In [1]:
import pandas as pd


files = [
    "Canadian Income Survey, 2018.xlsx",
    "Canadian Income Survey, 2019.xlsx",
    "Canadian Income Survey, 2020.xlsx",
    "Canadian Income Survey, 2021.xlsx"
]

# Converting files into dataframes
dfs = [pd.read_excel(file) for file in files]

# using 2018 dataset to define order of columns
clms = dfs[0].columns.tolist()

# Rearranging columns to match 2018 dataset
for i, df in enumerate(dfs):
    dfs[i] = df[clms]

# Stacking datasets
combined_data = pd.concat(dfs, ignore_index=True)

# Sorting By using column "YEAR"
combined_data['YEAR'] = combined_data['YEAR'].astype(int) # Convert to int if necessary
combined_data = combined_data.sort_values(by='YEAR')

/Users/Michael/opt/anaconda3/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [2]:
# saving the combined data set
combined_data.to_excel("Combined_Canadian_Income_Survey.xlsx", index=False)

In [3]:
# Shortening the notation of the combined data set
cis = pd.read_excel("Combined_Canadian_Income_Survey.xlsx")

In [4]:
# Changing provincial data in the combined data to strings
cis.PROV.replace([10, 11, 12, 13, 24, 35, 46, 47, 48, 59, 60, 61, 62, 96, 97, 98, 99], ["Newfoundland and Labrador","Prince Edward Island","Nova Scotia","New Brunswick","Quebec","Ontario","Manitoba","Saskatchewan","Alberta","British Columbia","Yukon","Northwest Territories","Nunavut","NaN","NaN","NaN","NaN"], inplace=True)

/var/folders/m4/zqls_74d0sz9jr6ttnswn4dm0000gn/T/ipykernel_97367/297822680.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cis.PROV.replace([10, 11, 12, 13, 24, 35, 46, 47, 48, 59, 60, 61, 62, 96, 97, 98, 99], ["Newfoundland and Labrador","Prince Edward Island","Nova Scotia","New Brunswick","Quebec","Ontario","Manitoba","Saskatchewan","Alberta","British Columbia","Yukon","Northwest Territories","Nunavut","NaN","NaN","NaN","NaN"], inplace=True)

In [5]:
# Getting rid of MBM Region data because we won't use it
cis.drop(columns= ['MBMREGP'])

        YEAR              PROV  EFSIZE  EFATINC  FSCHHLDM
0       2018           Ontario       2    87250         0
1       2018  British Columbia       5    77755         0
2       2018            Quebec       5   110315         0
3       2018            Quebec       5   110315         0
4       2018            Quebec       5   110315         0
...      ...               ...     ...      ...       ...
380631  2021            Quebec       1    40265         0
380632  2021           Ontario       4   153095         0
380633  2021           Ontario       4   153095         0
380634  2021           Ontario       2    60685         0
380635  2021           Alberta       3   191880         1

[380636 rows x 5 columns]

In [6]:
# Getting rid of duplicates in the dataset
cis.drop_duplicates()

        YEAR                  PROV  MBMREGP  EFSIZE  EFATINC  FSCHHLDM
0       2018               Ontario       19       2    87250         0
1       2018      British Columbia       40       5    77755         0
2       2018                Quebec       10       5   110315         0
7       2018               Ontario       19       2    45930         0
9       2018               Ontario       23       5   103850         0
...      ...                   ...      ...     ...      ...       ...
380622  2021               Alberta       34       3   124430         0
380626  2021               Ontario       19       2    60685         0
380627  2021      British Columbia       39       2    68775         0
380629  2021  Prince Edward Island        3       2    34500         2
380631  2021                Quebec       12       1    40265         0

[168887 rows x 6 columns]

In [7]:
# Checking for invalid values
cis.isna().sum()

YEAR        0
PROV        0
MBMREGP     0
EFSIZE      0
EFATINC     0
FSCHHLDM    0
dtype: int64

In [8]:
#Saving cleaned combined dataset
cis.to_excel("Cleaned_Combined_Canadian_Income_Survey.xlsx", index=False)

In [9]:
# Added in food price dataset
fp = pd.read_csv("Food Prices.csv")
fp

,REF_DATE,GEO,DGUID,Products,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2017-01,Canada,2016A000011124,"Beef stewing cuts, per kilogram",Dollars,81,units,0,v1353834271,11.100,12.66,NaN,NaN,NaN,2
1,2017-01,Canada,2016A000011124,"Beef striploin cuts, per kilogram",Dollars,81,units,0,v1353834272,11.200,21.94,NaN,NaN,NaN,2
2,2017-01,Canada,2016A000011124,"Beef top sirloin cuts, per kilogram",Dollars,81,units,0,v1353834273,11.300,13.44,NaN,NaN,NaN,2
3,2017-01,Canada,2016A000011124,"Beef rib cuts, per kilogram",Dollars,81,units,0,v1353834311,11.410,20.17,NaN,NaN,NaN,2
4,2017-01,Canada,2016A000011124,"Ground beef, per kilogram",Dollars,81,units,0,v1353834274,11.400,9.12,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110014,2024-07,British Columbia,2016A000259,"Sunflower seeds, 400 grams",Dollars,81,units,0,v1458870265,10.109,4.87,NaN,NaN,NaN,2
110015,2024-07,British Columbia,2016A000259,"Deodorant, 85 grams",Dollars,81,units,0,v1353834714,10.750,7.88,NaN,NaN,NaN,2
110016,2024-07,British Columbia,2016A000259,"Toothpaste, 100 millilitres",Dollars,81,units,0,v1353834715,10.760,4.10,NaN,NaN,NaN,2
110017,2024-07,British Columbia,2016A000259,"Shampoo, 400 millilitres",Dollars,81,units,0,v1353834716,10.770,6.63,NaN,NaN,NaN,2
110018,2024-07,British Columbia,2016A000259,"Laundry detergent, 4.43 litres",Dollars,81,units,0,v1458870250,10.110,12.86,NaN,NaN,NaN,2

In [10]:
# Removed unwanted columns from dataset
fp.drop(columns= ['DGUID', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'], inplace=True)

In [11]:
fp

       REF_DATE               GEO                             Products  VALUE
0       2017-01            Canada      Beef stewing cuts, per kilogram  12.66
1       2017-01            Canada    Beef striploin cuts, per kilogram  21.94
2       2017-01            Canada  Beef top sirloin cuts, per kilogram  13.44
3       2017-01            Canada          Beef rib cuts, per kilogram  20.17
4       2017-01            Canada            Ground beef, per kilogram   9.12
...         ...               ...                                  ...    ...
110014  2024-07  British Columbia          Sunflower seeds, 400 grams    4.87
110015  2024-07  British Columbia                  Deodorant, 85 grams   7.88
110016  2024-07  British Columbia          Toothpaste, 100 millilitres   4.10
110017  2024-07  British Columbia             Shampoo, 400 millilitres   6.63
110018  2024-07  British Columbia       Laundry detergent, 4.43 litres  12.86

[110019 rows x 4 columns]

In [ ]:
# Saved excel file of cleaned food pricing data
fp.to_excel("Food_Data_for_Nutrition_Analysis.xlsx", index=False)

In [ ]:
# Reading Food Spending data to clean for combination with CIS data
fs = pd.read_csv("Food Spending.csv")
fs

In [ ]:
fs.info()

In [ ]:
# Removed columns that won't be used
fs.drop(columns= ['DGUID', 'Statistic', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'], inplace=True)

In [ ]:
fs.info()

In [ ]:
# Cleaned up the data so it only shows until 2019
fs = fs[fs.REF_DATE >= 2018]
fs

In [ ]:
# checked for NaN values
fs.isna().sum()

In [ ]:
# Removed NaN vales
fs = fs.dropna()
#NOTE: Didnt save this file yet because it needs more cleaning before it is ready